<!DOCTYPE html>
<html>
<head>
    <title>SL | Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/sheet.css">
    <link href='/https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/../css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/../css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/../css/book.css" rel="stylesheet">
</head>

<body>
    <% include partials/header %>
        <div class="post-container" id="profile-details">
            <div class="post-content" id="details">
                    <h1><p class="post-title"><span id="title"><%= book[0].title %></span></p></h1>
            <div class="row">
                    <div class="col mb-1">
                        <label>Title</label>
                    </div>
                    <div class="col mb-1">
                        <p><%= book[0].title %></p>
                    </div>
                </div>
            <div class="row">
                <div class="col mb-1">
                    <label>ISBN</label>
                </div>
                <div class="col mb-1">
                    <p><%= book[0].ISBN %></p>
                </div>
            </div>
            <div class="row">
                <div class="col mb-1">
                    <label>Author</label>
                </div>
                <div class="col mb-1">
                    <p><%= book[0].author.name %></p>
                </div>
            </div>
            <div class="row">
                <div class="col mb-1">
                    <label>Publisher</label>
                </div>
                <div class="col mb-1">
                    <p><%= book[0].publisher.name %></p>
                </div>
            </div>
            <div class="row">
                <div class="col mb-1">
                    <label>Genre</label>
                </div>
                <div class="col mb-1">
                    <p><%= book[0].genre %></p>
                </div>
            </div>
            <p><br><%= book[0]["owned by"].length %> users currently are in possession of this book</p>
            <hr><br>
            <% for(var i = 0; i< book[0]["owned by"].length; i++) { %>
            <div class="row">
                <a href="/request/<%= book[0]["owned by"][i].id%>"><button class="float-right btn btn-info my-2" type="submit">Send Request</button></a>
                <div class="col mb-1">
                    <label>Name</label>
                </div>
                <div class="col mb-1">
                    <p><%= book[0]["owned by"][i]["user"].firstname %> <%= book[0]["owned by"][i]["user"].lastname %></p>
                </div>
            </div>
            <div class="row">
                    <div class="col mb-1">
                        <label>Status</label>
                    </div>
                    <div class="col mb-1">
                        <p>For <%= book[0]["owned by"][i].status %>/-</p>
                    </div>
                </div>
            <div class="row">
                <div class="col mb-1">
                    <label>Price</label>
                </div>
                <div class="col mb-1">
                    <p><%= book[0]["owned by"][i].price %>/-</p>
                </div>
            </div>
            <% } %>
        </div>
        <% include partials/footer %>
            <!-- SCRIPTS -->
            <!-- JQuery -->
            <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="../js/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="../js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="../js/mdb.js"></script>
</body>
</html>