<!DOCTYPE html>
<html>
<head>
    <title>SocialLibrary | Market</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/sheet.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/market.css" rel="stylesheet">
</head>

<body>
    <% include partials/header %>
    <div class="container">
        <div class="col mb-1">
            <p id="market-head">
                These books are currently available in the market. 
            </p>
            <% for(var i = 0; i< book.length; i++) { %>
            <div class="post-container">
                <hr>
                
                <div class="post-content" id="details">
                    <p class="post-title"><span id="name"><%=book[i].title %></span></p>
                    <p><span id="quantity">Genre : <%= book[i].genre %></span></p>
                    <p><span id="expiry">Language : <%= book[i].language %></span></p>
                    <p><span id="expiry1">For <%= book[i]["owned by"][0].status %> : <%= book[i]["owned by"][0].price %>/-</span></p>
                    
                        
                    
                    
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <% include partials/footer %>
</body>
</html>