<!DOCTYPE html>
<html>
<head>
    <title>SocialLibrary | Market</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/sheet.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href="css/w3.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/market.css" rel="stylesheet">
</head>

<body>
    <% include partials/header %>
    <div class="container">
        <% include partials/searchbar %>
        <div class="container">
     <p id="market-head">

               <center> These books are currently available in the market. </center>
            </p> <hr>

            <% for(var i = 0; i< book.length; i++) { %>
                <% if(book[i]["owned by"].length>0) { %>
                    <div class="post-container">

                            <p><span class="post-thumb" id="photo"><img src="<%= book[i]["owned by"][0].URL %>"></span></p>
                            <div class="post-content" id="details">

                                <p><a href="/book/<%= book[i].ISBN %>"><span id="name"><button class="w3-button w3-custom"><%=book[i].title %></button></span></a></p>
                                <p><span id="title">Title : <%= book[i].title %></span></p>
                                <p><span id="quantity">Genre <%= book[i].genre %></span></p>
                                <p><span id="expiry">Language : <%= book[i].language %></span></p>

                            </div>
                        </div>
                    <hr>
                <% } %>
            <% } %>
        </div></div>
    <% include partials/footer %>
</body>
<script>
$(document).ready(function() {
    var city = null;

    $.ajax({
        type: 'GET',
        url: 'search', // This one is missing here
        dataType: 'json'
    }).done(function(data){
        city = JSON.stringify(data);
        console.log(city);
        console.log(book[i-1]["owned by"][i].URL)
        var len = data.length;
        for( var i = 0; i<len; i++){
            var city = data[i];

            $("#cities").append("<option value='"+city+"'>"+city+"</option>");
        }
    });
});
</script>
</html>