<!DOCTYPE html>
<html>
<head>
    <title>Social Library | Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/sheet.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/market.css" rel="stylesheet">

    <style>
      .login-form {
            width: 600px;
            margin: 30px auto;
        }
        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .login-form h2 {
            margin: 0 0 15px;
        }
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px;
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content */
      .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 35%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
      }

      /* Add Animation */
      @-webkit-keyframes animatetop {
        from {center:-300px; opacity:0}
        to {top:0; opacity:1}
      }

      @keyframes animatetop {
        from {center:-300px; opacity:0}
        to {top:0; opacity:1}
      }

      /* The Close Button */
      .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

      .modal-header {
        padding: 8px 16px;
        background-color: #4dd1bb;
        color: white;
      }

      .modal-body {padding: 2px 5px;}

      .modal-footer {
        padding: 2px 10px;
        background-color: white;
        color: white;
      }
      </style>

</head>

<body>
    <% include partials/header %>
    <div class="container">
        <% if (locals.user) { %>
            <div class="col mb-3">
                <div class="profile-head"><br>
                    <h3>Your Profile
                    <a href="/update"><button class="float-right btn btn-info my-2" type="submit">Edit Profile</button></a>
                </h3>
                    <br> <br>
                </div>
            </div>
            <div class="tab-pane" id="profile-details">
                <div class="row">
                    <div class="col mb-4">
                        <label>Name</label>
                    </div>
                    <div class="col mb-4">
                        <p><%= user.firstname %> <%= user.lastname%></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-4">
                        <label>Email</label>
                    </div>
                    <div class="col mb-4">
                        <p><%= user.email %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-4">
                        <label>Contact details</label>
                    </div>
                    <div class="col mb-4">
                        <p><%= user.phone %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-4">
                        <label>City</label>
                    </div>
                    <div class="col mb-4">
                        <p><%= user.city %></p>
                    </div>
                </div>
            </div>
           <div>
             <% if(book.length != 0) { %>
              <button class="float-right btn btn-primary my-2" id="myBtn">Update book</button><br> <div id="myModal" class="modal">

                  <!-- Modal content -->
                  <div class="modal-content">
                    <div class="modal-header">
                        <h3>Change price and status of book</h3>
                      <span class="close">&times;</span>
                    </div>
                    <form class="login-form"  method="post" action="/profile" id="bookid"><br>
                    <div class="modal-body"><p>Select book</p>
                      <select name="id" form="bookid" class="form-control mb-4">
                          <% for(var j = 0; j< book.length; j++) { %>
                            <option  value="<%= book[j]["owned by"][0].id %>"><%= book[j].title %></option>
                            <% } %>
                      </select>
                      <p>New Price</p>
                      <input type="number" id="addListPrice" class="form-control mb-4" name="price" min='0' required>
                      <p>Status</p>
                      <div class="mb-4">
                      <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" class="custom-control-input" id="addListLend" name="status" value="lend">
                          <label class="custom-control-label" for="addListLend">Lend</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" class="custom-control-input" id="addListSell" name="status" value="sell">
                          <label class="custom-control-label" for="addListSell">Sell</label>
                      </div></div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary my-4 btn-block" type="submit">Update</button>
                    </div>
                  </div>

                </div>
              </form>
            <% } else { %>
            <% } %>
                <p>You have <%= book.length %> books in your inventory</p>
                <% for(var i = 0; i< book.length; i++) { %>
                    <div class="post-container">
                    <hr>
                    <p><span class="post-thumb" id="photo"><img src="<%= book[i]["owned by"][0].URL %>"></span></p>
                    <div class="post-content" id="details">

                        <p><span id="title">Title : <%= book[i].title %></span></p>  <a href="/profile/<%= book[i]["owned by"][0].id %>"><button class="float-right btn btn-info my-2" type="submit">Remove Book</button></a>
                        <p><span id="mrp">ISBN : <%= book[i].ISBN %></span></p>
                        <p><span id="quantity">Genre <%= book[i].genre %></span></p>
                        <p><span id="expiry">Language : <%= book[i].language %></span></p>
                        <p><span id="expiry">MRP : <%= book[i]["owned by"][0].price %></span></p>
                        <p><span id="expiry">For lend/sell : <%= book[i]["owned by"][0].status %></span></p>

                    </div>
                </div>

                <% } %>
            </div>
        <% } else { %>
            <p>
                You are not a valid user. Please <a href="/register">Sign Up</a>
            </p>
            <p>Have an Account?
                <a href="/signin">Sign In</a>
            </p>
        <% } %>
    </div>
    <% include partials/footer %>

    <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it

</script>
</body>
</html>